<footer class="footer">
  <div class="footer-container">
    <div class="footer-social-container">
      <a class="footer-logo" href="./index.html"
        >Lloyd<span class="footer-logo-accent">Jefferson.</span></a
      >
      <ul class="footer-social-list">
        <li class="footer-social-item">
          <a
            href="https://www.instagram.com/goitclub/"
            target="_blank"
            rel="noopener noreferrer"
            >Instagram</a
          >
        </li>
        <li class="footer-social-item">
          <a
            href="https://www.facebook.com/goITclub/"
            target="_blank"
            rel="noopener noreferrer"
            >Facebook</a
          >
        </li>
        <li class="footer-social-item">
          <a
            href="https://www.linkedin.com/school/goit-start-your-career-in-it"
            target="_blank"
            rel="noopener noreferrer"
            >Linkedin</a
          >
        </li>
        <li class="footer-social-item">
          <a
            href="https://github.com/aleks-zhiv/CodeNova"
            target="_blank"
            rel="noopener noreferrer"
            >GitHub</a
          >
        </li>
      </ul>
    </div>
    <p class="footer-copyright">© Copyright 2024. Made by LloydJefferson</p>
  </div>
</footer>

<!-- 
В Footer-і знаходиться logo, перелік посилань на соц.мережі та напис: "© Copyright 2024. Made by LloydJefferson"

Logo слід реалізувати як текстовий елемент

"Перелік посилань на соц. мережі має бути реалізований як список елементів за допомогою <ul>, що відкриватимуть у новій вкладці сторінку GoIT відповідної соц. мережі: 
   Instagram - https://www.instagram.com/goitclub/  
   Facebook - https://www.facebook.com/goITclub/   
   LinkedIn - https://www.linkedin.com/school/goit-start-your-career-in-it  
   GitHub - посилання на проєкт команди, розміщений на GitHub"
-->
