<section class="work-together" id="work-together">
  <div class="work-together-container">
    <h2 class="work-together-title">
      let’s <span class="work-together-title-accent">work together</span>
    </h2>
    <div class="work-together-flex-cont">
      <div class="work-together-contacts">
        <p class="work-together-text">
          Contact me to transform your ideas into exceptional solutions.
        </p>
        <ul class="work-together-contacts-list">
          <li class="work-together-contacts-item">
            <a href="tel:+380904567890">+38 090 456 78 90</a>
          </li>
          <li class="work-together-contacts-item">
            <a href="mailto:lloydjefferson@gmail.com"
              >lloydjefferson@gmail.com</a
            >
          </li>
          <li class="work-together-contacts-item">
            <a href="#">USA, New York</a>
          </li>
        </ul>
      </div>
      <form class="work-together-form">
        <input
          class="form-input-email"
          type="email"
          name="email"
          id="email"
          placeholder="Your email*"
        />
        <textarea
          class="form-message"
          name="message"
          id="message"
          placeholder="Message"
        ></textarea>
        <button type="submit" class="work-together-btn">SEND MESSAGE</button>
      </form>
    </div>
  </div>
</section>
