:root {
    --black: #292929;
    --accet-green: #00B068;
    --white: #F0F0F0;
    --light-grey: #E4E5E6;
    --hover-grey: #BBBBBB;
    --light-accet: #BCDFD1;
    --hover: #009156;
    --error: #E74A3B;
}
